# Server Configurations
PORT=3001

# Public Frontend Configurations
NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:3001

# Encryption Key (Must be 32 bytes / 64 hex characters)
# Generate one using: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

# Optional Webhook Notifications
DISCORD_WEBHOOK_URL=
SLACK_WEBHOOK_URL=

# Optional Email SMTP Configurations
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
EMAIL_FROM=
